.popup{
    width: 250px;
}

.pinName {
    font-weight: bold;
}

.pinDescription {
    font-size: 14px;
}

.addBtn {
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
}

