/* Pin Popup onClick */
.popup{
    width: 250px;
    text-align: center;
}

.pinName {
    font-weight: bold;
    padding: 5px;
}

.pinDescription, .review {
    font-size: 14px;
    padding: 5px;
}

.addBtn {
    color: var(--color-bg);
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid;
}

/* Pin Popup Form */


/* Navigation Control */
.navcontrol {
    z-index: 2;
    position: fixed;
    right: 0px;

}